In [317]:
import pandas as pd
import numpy as np 
%matplotlib inline

In [318]:
path = 'R:/2014_Base_Year/ValidationData/Transit/'

In [319]:
data_set = {}
data_set[1] = 'KC Metro/spring2014_trip_data.csv' # KC Metro
# Pierce Transit
data_set[3] = 'CT/March14Ridership.csv' # Community Transit
# Kitsap Transit
# WSF(ferries)
# Sound Transit

In [320]:
# Which dataset you would like to run
n = 3

In [321]:
data = pd.read_csv(path + data_set[n])

In [322]:
data.columns

Index([u'Time Period', u'Hour_', u'SignRt', u'Direction', u'Rides'], dtype='object')

In [323]:
df = data[['SignRt', 'Hour_', 'Rides']]

In [324]:
df.head()

   SignRt  Hour_  Rides
0     201      4   1.43
1     105      4   3.10
2     201      4   7.19
3     202      4   0.00
4     227      4  18.71

In [325]:
df_sorted = df.groupby(['SignRt', 'Hour_'], as_index=False)

In [326]:
df_ridership = df_sorted.aggregate(np.sum)

In [327]:
df_ridership.head()

   SignRt  Hour_  Rides
0     101      5  31.00
1     101      6  51.48
2     101      7  74.48
3     101      8  87.09
4     101      9  92.28

In [328]:
df_table = df_ridership.pivot(index='SignRt', columns='Hour_', values='Rides').fillna(0)

In [329]:
# Add route ID 
df_table['Sign_Rt'] = df_table.index
df_table['PSRC_Rte_ID'] = df_table.apply(lambda row: row['Sign_Rt'] + n*1000, axis=1)

In [330]:
# refine table
cols = df_table.columns.tolist()
cols = cols[-2:] + cols[:-2]
df_table = df_table[cols]
df_table.index.name = None
df_table = df_table.reset_index(drop=True)

In [331]:
df_table.head()

Hour_,Sign_Rt,PSRC_Rte_ID,4,5,6,7,8,9,10,11,...,14,15,16,17,18,19,20,21,22,23
0,101,3101,0.0,31.00,51.48,74.48,87.09,92.28,91.66,77.47,...,114.67,108.81,103.62,93.52,85.52,66.76,63.19,48.19,20.10,2.19
1,105,3105,3.1,25.62,35.29,65.29,54.95,50.57,57.10,53.57,...,64.24,78.05,72.77,53.66,34.91,31.33,22.43,12.53,2.76,0.00
2,106,3106,0.0,5.56,31.90,35.04,14.10,0.00,0.00,0.00,...,0.00,0.00,27.71,43.67,26.86,1.96,0.00,0.00,0.00,0.00
3,110,3110,0.0,0.00,6.81,18.62,14.34,0.00,0.00,0.00,...,0.00,0.00,14.48,15.85,6.76,0.00,0.00,0.00,0.00,0.00
4,111,3111,0.0,2.81,8.14,8.24,0.76,0.00,0.00,0.00,...,0.00,0.00,4.14,5.19,2.29,0.00,0.00,0.00,0.00,0.00

In [332]:
df_table.to_csv(path + str(n) + '.csv')